.navigation-bar__container
  position: fixed
  bottom: 0
  left: 0
  right: 0

  padding: 20px

  z-index: 5

  > .navigation-bar
    background-color: rgba(0 0 0 / .8)

    border: solid 1px rgb(0 0 0)
    border-radius: 15px

    height: 60px
    width: 100%

    display: flex
    column-gap: 20px

    @media (min-width: 1024px)
      width: 60%