.room-preferences__container
  padding: 10px

  > section
    &.room-preferences__general
      > form
        display: flex
        flex-direction: column
        row-gap: 10px

        > .room-preferences__tags-container
          > p.room-preferences__tags-label
            font-size: .9rem
            font-weight: 500

          > .room-preferences__tags-controls
            display: grid
            grid-template-columns: repeat(2, minmax(0, 1fr))
            column-gap: 10px