@import "./assets/fonts/Typography"
@import "./assets/fonts/Nunito_Font/Nunito.css"

*
  box-sizing: border-box

  margin: 0
  padding: 0

body
  font-family: "Nunito", sans-serif

  height: 100vh

  overflow: hidden

  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

div
  width: 100%