@import "./assets/fonts/Typography"
@import "./assets/fonts/Nunito_Font/Nunito.css"

:root
  --primary: #0065ff
  --primary-color: white

  --secondary: #3c3c3c
  --secondary-color: white

  --danger: #ff2626
  --danger-color: white

  --warning: #ff9326
  --warning-color: white

  --success: #117700
  --success-color: white

  --light: white
  --light-color: black

  --dark: black
  --dark-color: white

  --main-background: #ffffff

  --gui-background: rgb(35, 35, 35)

*
  box-sizing: border-box

  margin: 0
  padding: 0

  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

body
  font-family: "Nunito", sans-serif

  height: 100vh

  overflow: hidden

  background-color: black

div
  width: 100%